# The loopback network interface
auto lo
iface lo inet loopback

# bond0 is configured using static network information.
auto bond0
iface bond0 inet static
    address {{ network.control.address }}.50
    {% if network.control.gateway %}
    gateway {{ network.control.gateway }}
    {% endif %}
    {% if network.control.dns_search %}
    dns-search {{ network.control.dns_search }}
    {% endif %}
    {% if network.control.dns_nameservers %}
    dns-nameservers {{ network.control.dns_nameservers }}
    {% endif %}
    netmask {{ network.control.mask }}
    bond-mode active-backup
    bond-miimon 100
    bond-slaves {{ network.control.eth[0] }} {{ network.control.eth[1] }}
    bond-primary {{ network.control.eth[0] }} {{ network.control.eth[1] }}

# bond1 is configured using static network information.
auto bond1
iface bond1 inet static
    address 10.10.50.49
    netmask 255.255.254.0
    bond-mode active-backup
    bond-miimon 100
    bond-slaves eth1 eth2
    bond-primary eth1 eth2
    address {{ network.public.address }}.50
    {% if network.public.gateway %}
    gateway {{ network.public.gateway }}
    {% endif %}
    {% if network.public.dns_search %}
    dns-search {{ network.public.dns_search }}
    {% endif %}
    {% if network.public.dns_nameservers %}
    dns-nameservers {{ network.public.dns_nameservers }}
    {% endif %}
    netmask {{ network.public.mask }}
    bond-mode active-backup
    bond-miimon 100
    bond-slaves {{ network.public.eth[0] }} {{ network.public.eth[1] }}
    bond-primary {{ network.public.eth[0] }} {{ network.public.eth[1] }}

