pref("network.protocol-handler.expose.vnc", false);
pref("network.negotiate-auth.trusted-uris", "http://");

user_pref("browser.startup.page", 1);
user_pref("browser.startup.homepage", "http://{{ hac_cntrl.name }}");
