<!DOCTYPE HTML>
<html>
<head>
<title>ПК КВГ</title>
<meta charset="utf-8">
</head>
<body>
    <p><a href="vnc://">Нажмите чтобы выполнить ассоциацию протокола vnc:// и vncviewer</a></p>
    <p><a href=" {{ hac_cntrl.url }} ">Перейти к ПК Управления КВГ</a></p>
</body>
</html>