cibadmin -M -c -o resources --xml-file pdu.xml
<resources>
      <primitive class="stonith" id="stonith_hacnode1" type="external/ipmi">
        <meta_attributes id="stonith_hacnode1-meta_attributes">
          <nvpair id="stonith_hacnode1-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
        <operations id="stonith_hacnode1-operations">
          <op id="stonith_hacnode1-op-monitor-3600" interval="3600" name="monitor" timeout="20"/>
          <op id="stonith_hacnode1-op-start-0" interval="0" name="start" timeout="20"/>
          <op id="stonith_hacnode1-op-stop-0" interval="0" name="stop" timeout="15"/>
        </operations>
        <instance_attributes id="stonith_hacnode1-instance_attributes">
          <nvpair id="stonith_hacnode1-instance_attributes-hostname" name="hostname" value="hacnode1"/>
          <nvpair id="stonith_hacnode1-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.40"/>
          <nvpair id="stonith_hacnode1-instance_attributes-userid" name="userid" value="ADMIN"/>
          <nvpair id="stonith_hacnode1-instance_attributes-passwd" name="passwd" value="ADMIN"/>
          <nvpair id="stonith_hacnode1-instance_attributes-interface" name="interface" value="lanplus"/>
        </instance_attributes>
      </primitive>
      <primitive class="stonith" id="stonith_hacnode2" type="external/ipmi">
        <meta_attributes id="stonith_hacnode2-meta_attributes">
          <nvpair id="stonith_hacnode2-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
        <operations id="stonith_hacnode2-operations">
          <op id="stonith_hacnode2-op-monitor-3600" interval="3600" name="monitor" timeout="20"/>
          <op id="stonith_hacnode2-op-start-0" interval="0" name="start" timeout="60"/>
          <op id="stonith_hacnode2-op-stop-0" interval="0" name="stop" timeout="60"/>
        </operations>
        <instance_attributes id="stonith_hacnode2-instance_attributes">
          <nvpair id="stonith_hacnode2-instance_attributes-hostname" name="hostname" value="hacnode2"/>
          <nvpair id="stonith_hacnode2-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.41"/>
          <nvpair id="stonith_hacnode2-instance_attributes-userid" name="userid" value="ADMIN"/>
          <nvpair id="stonith_hacnode2-instance_attributes-passwd" name="passwd" value="ADMIN"/>
          <nvpair id="stonith_hacnode2-instance_attributes-interface" name="interface" value="lanplus"/>
        </instance_attributes>
      </primitive>
            <primitive class="stonith" id="stonith_hacnode3" type="external/ipmi">
        <operations id="stonith_hacnode3-operations">
          <op id="stonith_hacnode3-op-monitor-3600" interval="3600" name="monitor" timeout="20"/>
          <op id="stonith_hacnode3-op-start-0" interval="0" name="start" timeout="60"/>
          <op id="stonith_hacnode3-op-stop-0" interval="0" name="stop" timeout="60"/>
        </operations>
        <instance_attributes id="stonith_hacnode3-instance_attributes">
          <nvpair id="stonith_hacnode3-instance_attributes-hostname" name="hostname" value="hacnode3"/>
          <nvpair id="stonith_hacnode3-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.42"/>
          <nvpair id="stonith_hacnode3-instance_attributes-userid" name="userid" value="ADMIN"/>
          <nvpair id="stonith_hacnode3-instance_attributes-passwd" name="passwd" value="ADMIN"/>
          <nvpair id="stonith_hacnode3-instance_attributes-interface" name="interface" value="lanplus"/>
        </instance_attributes>
        <meta_attributes id="stonith_hacnode3-meta_attributes">
          <nvpair id="stonith_hacnode3-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode1_pdu1_on" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode1_pdu1_on-instance_attributes">
          <nvpair id="fence_hacnode1_pdu1_on-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.43"/>
          <nvpair id="fence_hacnode1_pdu1_on-instance_attributes-action" name="action" value="on"/>
          <nvpair id="fence_hacnode1_pdu1_on-instance_attributes-port" name="port" value="1"/>
          <nvpair id="fence_hacnode1_pdu1_on-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode1"/>
        </instance_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode1_pdu2_on" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode1_pdu2_on-instance_attributes">
          <nvpair id="fence_hacnode1_pdu2_on-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.44"/>
          <nvpair id="fence_hacnode1_pdu2_on-instance_attributes-action" name="action" value="on"/>
          <nvpair id="fence_hacnode1_pdu2_on-instance_attributes-port" name="port" value="1"/>
          <nvpair id="fence_hacnode1_pdu2_on-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode1"/>
        </instance_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode1_pdu1_off" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode1_pdu1_off-instance_attributes">
          <nvpair id="fence_hacnode1_pdu1_off-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.43"/>
          <nvpair id="fence_hacnode1_pdu1_off-instance_attributes-action" name="action" value="off"/>
          <nvpair id="fence_hacnode1_pdu1_off-instance_attributes-port" name="port" value="1"/>
          <nvpair id="fence_hacnode1_pdu1_off-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode1"/>
        </instance_attributes>
        <operations>
          <op id="fence_hacnode1_pdu1_off-monitor-60s" interval="60s" name="monitor"/>
        </operations>
        <meta_attributes id="fence_hacnode1_pdu1_off-meta_attributes">
          <nvpair id="fence_hacnode1_pdu1_off-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode1_pdu2_off" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode1_pdu2_off-instance_attributes">
          <nvpair id="fence_hacnode1_pdu2_off-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.44"/>
          <nvpair id="fence_hacnode1_pdu2_off-instance_attributes-action" name="action" value="off"/>
          <nvpair id="fence_hacnode1_pdu2_off-instance_attributes-port" name="port" value="1"/>
          <nvpair id="fence_hacnode1_pdu2_off-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode1"/>
          <nvpair id="fence_hacnode1_pdu2_off-instance_attributes-power_wait" name="power_wait" value="5"/>
        </instance_attributes>
        <operations>
          <op id="fence_hacnode1_pdu2_off-monitor-60s" interval="60s" name="monitor"/>
        </operations>
      </primitive>
      <primitive class="stonith" id="fence_hacnode2_pdu1_on" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode2_pdu1_on-instance_attributes">
          <nvpair id="fence_hacnode2_pdu1_on-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.43"/>
          <nvpair id="fence_hacnode2_pdu1_on-instance_attributes-action" name="action" value="on"/>
          <nvpair id="fence_hacnode2_pdu1_on-instance_attributes-port" name="port" value="2"/>
          <nvpair id="fence_hacnode2_pdu1_on-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode2"/>
        </instance_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode2_pdu2_on" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode2_pdu2_on-instance_attributes">
          <nvpair id="fence_hacnode2_pdu2_on-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.44"/>
          <nvpair id="fence_hacnode2_pdu2_on-instance_attributes-action" name="action" value="on"/>
          <nvpair id="fence_hacnode2_pdu2_on-instance_attributes-port" name="port" value="2"/>
          <nvpair id="fence_hacnode2_pdu2_on-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode2"/>
        </instance_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode2_pdu1_off" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode2_pdu1_off-instance_attributes">
          <nvpair id="fence_hacnode2_pdu1_off-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.43"/>
          <nvpair id="fence_hacnode2_pdu1_off-instance_attributes-action" name="action" value="off"/>
          <nvpair id="fence_hacnode2_pdu1_off-instance_attributes-port" name="port" value="2"/>
          <nvpair id="fence_hacnode2_pdu1_off-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode2"/>
        </instance_attributes>
        <operations>
          <op id="fence_hacnode2_pdu1_off-monitor-60s" interval="60s" name="monitor"/>
        </operations>
        <meta_attributes id="fence_hacnode2_pdu1_off-meta_attributes">
          <nvpair id="fence_hacnode2_pdu1_off-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode2_pdu2_off" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode2_pdu2_off-instance_attributes">
          <nvpair id="fence_hacnode2_pdu2_off-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.44"/>
          <nvpair id="fence_hacnode2_pdu2_off-instance_attributes-action" name="action" value="off"/>
          <nvpair id="fence_hacnode2_pdu2_off-instance_attributes-port" name="port" value="2"/>
          <nvpair id="fence_hacnode2_pdu2_off-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode2"/>
          <nvpair id="fence_hacnode2_pdu2_off-instance_attributes-power_wait" name="power_wait" value="5"/>
        </instance_attributes>
        <operations>
          <op id="fence_hacnode2_pdu2_off-monitor-60s" interval="60s" name="monitor"/>
        </operations>
      </primitive>
      <primitive class="stonith" id="fence_hacnode3_pdu1_on" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode3_pdu1_on-instance_attributes">
          <nvpair id="fence_hacnode3_pdu1_on-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.43"/>
          <nvpair id="fence_hacnode3_pdu1_on-instance_attributes-action" name="action" value="on"/>
          <nvpair id="fence_hacnode3_pdu1_on-instance_attributes-port" name="port" value="3"/>
          <nvpair id="fence_hacnode3_pdu1_on-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode3"/>
        </instance_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode3_pdu2_on" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode3_pdu2_on-instance_attributes">
          <nvpair id="fence_hacnode3_pdu2_on-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.44"/>
          <nvpair id="fence_hacnode3_pdu2_on-instance_attributes-action" name="action" value="on"/>
          <nvpair id="fence_hacnode3_pdu2_on-instance_attributes-port" name="port" value="3"/>
          <nvpair id="fence_hacnode3_pdu2_on-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode3"/>
        </instance_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode3_pdu1_off" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode3_pdu1_off-instance_attributes">
          <nvpair id="fence_hacnode3_pdu1_off-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.43"/>
          <nvpair id="fence_hacnode3_pdu1_off-instance_attributes-action" name="action" value="off"/>
          <nvpair id="fence_hacnode3_pdu1_off-instance_attributes-port" name="port" value="3"/>
          <nvpair id="fence_hacnode3_pdu1_off-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode3"/>
        </instance_attributes>
        <operations>
          <op id="fence_hacnode3_pdu1_off-monitor-60s" interval="60s" name="monitor"/>
        </operations>
        <meta_attributes id="fence_hacnode3_pdu1_off-meta_attributes">
          <nvpair id="fence_hacnode3_pdu1_off-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
      </primitive>
      <primitive class="stonith" id="fence_hacnode3_pdu2_off" type="fence_apc_snmp">
        <instance_attributes id="fence_hacnode3_pdu2_off-instance_attributes">
          <nvpair id="fence_hacnode3_pdu2_off-instance_attributes-ipaddr" name="ipaddr" value="192.168.50.44"/>
          <nvpair id="fence_hacnode3_pdu2_off-instance_attributes-action" name="action" value="off"/>
          <nvpair id="fence_hacnode3_pdu2_off-instance_attributes-port" name="port" value="3"/>
          <nvpair id="fence_hacnode3_pdu2_off-instance_attributes-pcmk_host_list" name="pcmk_host_list" value="hacnode3"/>
          <nvpair id="fence_hacnode3_pdu2_off-instance_attributes-power_wait" name="power_wait" value="5"/>
        </instance_attributes>
        <operations>
          <op id="fence_hacnode3_pdu2_off-monitor-60s" interval="60s" name="monitor"/>
        </operations>
      </primitive>

      <primitive class="ocf" id="hacip_test" provider="heartbeat" type="IPaddr2">
        <meta_attributes id="hacip_test-meta_attributes">
          <nvpair id="hacip_test-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
        <operations id="hacip_test-operations">
          <op id="hacip_test-op-monitor-10s" interval="10s" name="monitor" timeout="20s"/>
        </operations>
        <instance_attributes id="hacip_test-instance_attributes">
          <nvpair id="hacip_test-instance_attributes-ip" name="ip" value="10.10.50.99"/>
          <nvpair id="hacip_test-instance_attributes-cidr_netmask" name="cidr_netmask" value="24"/>
        </instance_attributes>
      </primitive>
       <clone id="glusterd">
        <meta_attributes id="glusterd-meta_attributes">
          <nvpair id="glusterd-meta_attributes-clone-max" name="clone-max" value="3"/>
          <nvpair id="glusterd-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
        <primitive class="ocf" id="gluster" provider="heartbeat" type="glusterd">
          <operations id="gluster-operations">
            <op id="gluster-op-monitor-10" interval="10" name="monitor" timeout="20"/>
          </operations>
        </primitive>
      </clone>
      <clone id="gluster_volume">
        <meta_attributes id="gluster_volume-meta_attributes">
          <nvpair id="gluster_volume-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
        <primitive class="ocf" id="gluster_vol" provider="heartbeat" type="volume">
          <operations id="gluster_vol-operations">
            <op id="gluster_vol-op-monitor-10" interval="10" name="monitor" timeout="20"/>
          </operations>
          <instance_attributes id="gluster_vol-instance_attributes">
            <nvpair id="gluster_vol-instance_attributes-volname" name="volname" value="vm_storage_volume"/>
          </instance_attributes>
          <meta_attributes id="gluster_vol-meta_attributes">
            <nvpair id="gluster_vol-meta_attributes-target-role" name="target-role" value="Started"/>
          </meta_attributes>
        </primitive>
      </clone>
      <clone id="mount_gluster">
        <meta_attributes id="mount_gluster-meta_attributes">
          <nvpair id="mount_gluster-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
        <primitive class="ocf" id="gluster_dest" provider="heartbeat" type="Filesystem">
          <operations id="gluster_dest-operations">
            <op id="gluster_dest-op-monitor-20" interval="20" name="monitor" timeout="40"/>
          </operations>
          <instance_attributes id="gluster_dest-instance_attributes">
            <nvpair id="gluster_dest-instance_attributes-device" name="device" value="/etc/glusterd/vols/vm_storage_volume/vm_storage_volume-fuse.vol"/>
            <nvpair id="gluster_dest-instance_attributes-directory" name="directory" value="/var/glusterfs"/>
            <nvpair id="gluster_dest-instance_attributes-fstype" name="fstype" value="glusterfs"/>
            <nvpair id="gluster_dest-instance_attributes-options" name="options" value="defaults,_netdev"/>
          </instance_attributes>
          <meta_attributes id="gluster_dest-meta_attributes">
            <nvpair id="gluster_dest-meta_attributes-target-role" name="target-role" value="Started"/>
          </meta_attributes>
        </primitive>
      </clone>
      <template class="ocf" id="vm_template" provider="heartbeat" type="VirtualDomain">
        <meta_attributes id="vm_template-meta_attributes">
          <nvpair id="vm_template-meta_attributes-target-role" name="target-role" value="Started"/>
          <nvpair id="vm_template-meta_attributes-allow-migrate" name="allow-migrate" value="true"/>
        </meta_attributes>
        <operations id="vm_template-operations">
          <op id="vm_template-op-monitor-20" interval="20" name="monitor" timeout="60"/>
          <op id="vm_template-op-start-0" interval="0" name="start" timeout="90"/>
          <op id="vm_template-op-stop-0" interval="0" name="stop" timeout="90"/>
        </operations>
        <instance_attributes id="vm_template-instance_attributes">
          <nvpair id="vm_template-instance_attributes-hypervisor" name="hypervisor" value="qemu:///system"/>
          <nvpair id="vm_template-instance_attributes-migration_transport" name="migration_transport" value="tcp"/>
        </instance_attributes>
      </template>
      <template class="ocf" id="dummy_template" provider="pacemaker" type="Dummy">
        <meta_attributes id="dummy_template-meta_attributes">
          <nvpair id="dummy_template-meta_attributes-target-role" name="target-role" value="Started"/>
        </meta_attributes>
        <operations id="dummy_template-operations">
          <op id="dummy_template-op-monitor-10" interval="10" name="monitor" timeout="20"/>
        </operations>
      </template>
</resources>
    
<fencing-topology>
      <fencing-level devices="stonith_hacnode1" id="fencing-hacnode1-level-1" index="1" target="hacnode1"/>
      <fencing-level devices="fence_hacnode1_pdu1_off,fence_hacnode1_pdu2_off,fence_hacnode1_pdu1_on,fence_hacnode1_pdu2_on" id="fencing-hacnode1-level-2" index="2" target="hacnode1"/>
            <fencing-level devices="stonith_hacnode2" id="fencing-hacnode2-level-1" index="1" target="hacnode2"/>
      <fencing-level devices="fence_hacnode2_pdu1_off,fence_hacnode2_pdu2_off,fence_hacnode2_pdu1_on,fence_hacnode2_pdu2_on" id="fencing-hacnode2-level-2" index="2" target="hacnode2"/>
            <fencing-level devices="stonith_hacnode3" id="fencing-hacnode3-level-1" index="1" target="hacnode3"/>
      <fencing-level devices="fence_hacnode3_pdu1_off,fence_hacnode3_pdu2_off,fence_hacnode3_pdu1_on,fence_hacnode3_pdu2_on" id="fencing-hacnode3-level-2" index="2" target="hacnode3"/>
</fencing-topology>


<constraints>
      <rsc_location id="stonith_hacnode2_loc" node="hacnode2" rsc="stonith_hacnode2" score="-INFINITY"/>
      <rsc_location id="stonith_hacnode3_loc" node="hacnode3" rsc="stonith_hacnode3" score="-INFINITY"/>
      <rsc_location id="stonith_hacnode1_loc" node="hacnode1" rsc="stonith_hacnode1" score="-INFINITY"/>
      <rsc_location id="fence_loc1" node="hacnode1" rsc="fence_hacnode1_pdu1_off" score="-INFINITY"/>
      <rsc_location id="fence_loc2" node="hacnode1" rsc="fence_hacnode1_pdu2_off" score="-INFINITY"/>
      <rsc_location id="fence_loc3" node="hacnode1" rsc="fence_hacnode1_pdu1_on" score="-INFINITY"/>
      <rsc_location id="fence_loc4" node="hacnode1" rsc="fence_hacnode1_pdu2_on" score="-INFINITY"/>
      <rsc_location id="fence_loc5" node="hacnode2" rsc="fence_hacnode2_pdu1_off" score="-INFINITY"/>
      <rsc_location id="fence_loc6" node="hacnode2" rsc="fence_hacnode2_pdu2_off" score="-INFINITY"/>
      <rsc_location id="fence_loc7" node="hacnode2" rsc="fence_hacnode2_pdu1_on" score="-INFINITY"/>
      <rsc_location id="fence_loc8" node="hacnode2" rsc="fence_hacnode2_pdu2_on" score="-INFINITY"/>
      <rsc_location id="fence_loc9" node="hacnode3" rsc="fence_hacnode3_pdu1_off" score="-INFINITY"/>
      <rsc_location id="fence_loc10" node="hacnode3" rsc="fence_hacnode3_pdu2_off" score="-INFINITY"/>
      <rsc_location id="fence_loc11" node="hacnode3" rsc="fence_hacnode3_pdu1_on" score="-INFINITY"/>
      <rsc_location id="fence_loc12" node="hacnode3" rsc="fence_hacnode3_pdu2_on" score="-INFINITY"/>
      <rsc_order first="glusterd" id="glusterfs_order" then="gluster_volume"/>
      <rsc_order first="gluster_volume" id="gluster_mount_order" then="mount_gluster"/>
      <rsc_order first="mount_gluster" id="gluster_vm" then="vm_template"/>
</constraints>
    
    
    

