<constraints>
{% for host in groups['nodes'] %}
      <rsc_location id="stonith_{{ host }}_loc" node="{{ host }}" rsc="stonith_{{ host }}" score="-INFINITY"/>
{% endfor %}
{% if pdu_fencing is defined and pdu_fencing%}
{% for row in pdu_fencing %}
{% if row.pdu is defined and row.pdu and row.nodes is defined and row.nodes %}
{% for host in row.nodes.iterkeys() %}
{% for ip in row.pdu %}
      <rsc_location id="fence_loc_off_{{ host }}_pdu{{ ip }}" node="{{ host }}" rsc="fence_{{ host }}_pdu{{ ip }}_off" score="-INFINITY"/>
{% endfor %}
{% for ip in row.pdu %}
      <rsc_location id="fence_loc_on_{{ host }}_pdu{{ ip }}" node="{{ host }}" rsc="fence_{{ host }}_pdu{{ ip }}_on" score="-INFINITY"/>
{% endfor %}{% endfor %}{% endif %}{% endfor %}{% endif %}
      <rsc_order first="glusterd" id="order_for_gluster" then="gluster_volume"/>
      <rsc_order first="mount_gluster" id="order_for_vm" then="vm_template"/>
      <rsc_order first="mount_gluster" id="order_for_ald" then="ald_server"/>
      <rsc_order first="mount_gluster" id="order_for_ald_backup" then="ald_backup_timetable"/>
</constraints>
