<constraints>
{% for host in groups['nodes'] %}
      <rsc_location id="stonith_{{ host }}_loc" node="{{ host }}" rsc="stonith_{{ host }}" score="-INFINITY"/>
{% endfor %}
{% for host in groups['nodes'] %}
{% for key in pdu.iterkeys() %}
      <rsc_location id="fence_loc_off_{{ host }}_{{ key }}" node="{{ host }}" rsc="fence_{{ host }}_{{ key }}_off" score="-INFINITY"/>
{% endfor %}
{% for key in pdu.iterkeys() %}
      <rsc_location id="fence_loc_on_{{ host }}_{{ key }}" node="{{ host }}" rsc="fence_{{ host }}_{{ key }}_on" score="-INFINITY"/>
{% endfor %}{% endfor %}
      <rsc_order first="mount_gluster" id="order_for_vm" then="vm_template"/>
      <rsc_order first="mount_gluster" id="order_for_ald" then="ald_server"/>
</constraints>

