<constraints>
{% for host in groups['nodes'] %}
      <rsc_location id="stonith_{{ host }}_loc" node="{{ host }}" rsc="stonith_{{ host }}" score="-INFINITY"/>
{% endfor %}      
{% for host in groups['nodes'] %}
{% for key in pdu.iterkeys() %}
      <rsc_location id="fence_loc_off_{{ host }}_{{ key }}" node="{{ host }}" rsc="fence_{{ host }}_{{ key }}_off" score="-INFINITY"/>
{% endfor %}
{% for key in pdu.iterkeys() %}
      <rsc_location id="fence_loc_on_{{ host }}_{{ key }}" node="{{ host }}" rsc="fence_{{ host }}_{{ key }}_on" score="-INFINITY"/>
{% endfor %}{% endfor %}      
      <rsc_colocation id="col_ald_glusterfs" rsc="ip_ald_apache" with-rsc="mount_gluster"/>
      <rsc_colocation id="col_vm_glustrefs" rsc="vm_template" with-rsc="mount_gluster"/>
</constraints>

