<fencing-topology>
{% for host in groups['nodes'] %}
      <fencing-level devices="stonith_{{ host }}" id="fencing-{{ host }}-level-1" index="1" target="{{ host }}"/>
      <fencing-level devices="{% for key in pdu.iterkeys() %}fence_{{ host }}_{{ key }}_off,{% endfor %}{% for key in pdu.iterkeys() %}fence_{{ host }}_{{ key }}_on{% if not loop.last %},{% endif %}{% endfor %}" id="fencing-{{ host }}-level-2" index="2" target="{{ host }}"/>
{% endfor %}
</fencing-topology>

