# IPMI devices.
{% if fencing.ipmi %}
{% for key, value in nodes_ip_ipmi.iteritems() %}

[ipmi:{{ key }}-ipmi]
node_id = {{ key }}
ip = {{ network.control.address }}.{{ value }}
login = {{ ipmi.login }}
password = {{ ipmi.password }}
{% endfor %}
{% endif %}

# PDU devices.
{% if fencing.pdu %}
{% for key, value in pdu.iteritems() %}

[pdu:{{ key }}]
ip = {{ network.control.address }}.{{ value }}
{% for key, value in pdu_connections.iteritems() %}
outlet{{ value }} = {{ key }}
{% endfor %}
{% endfor %}
{% endif %}
