# IPMI devices.
{% if fencing.ipmi %}
{% for key, value in nodes_ip_ipmi.iteritems() %}

[ipmi:{{ key }}-ipmi]
node_id = {{ key }}
ip = {{ network.control.address }}.{{ value }}
login = {{ ipmi.login }}
password = {{ ipmi.password }}
{% endfor %}
{% endif %}

# PDU devices.
{% if pdu_fencing is defined and pdu_fencing%}
{% for row in pdu_fencing %}
{% if row.pdu is defined and row.pdu and row.nodes is defined and row.nodes %}
{% for ip in row.pdu %}
[pdu:pdu_{{ ip }}]
ip = {{ network.control.address }}.{{ ip }}
{% for key, value in row.nodes.iteritems() %}
outlet{{ value }} = {{ key }}
{% endfor %}

{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
