[roles]

# Usage:
# role1 = linux_group1, linux_group2, linux_group3

all = ${ald.groups}
admins = ${ald.groups[0]}
operators = ${ald.groups[1]}

[nodes_policy]
can_see = all
can_control = admins

[default_resources_policy]
can_see = all
can_control =
can_open_vm_console = all

[resources_policy:VirtualDomain]
can_see = all
can_control = admins
can_open_vm_console = all

[resources_policy:Dummy]
can_see = all
can_control =
