sudo virt-install
--name={vm_name}
--disk path={img_path},bus=ide,size={hdd_size},cache=none
--ram={ram}
--vcpus {cpus_qty}
--cdrom={{ dirs.vm_images }}/vm.iso
--graphics {{ hac_cntrl.graphic }},listen=0.0.0.0
--controller usb,model=ich9-ehci1,address=0:0:4.0,index=0
--controller usb,model=ich9-uhci1,address=0:0:7.0,index=0,master=0
--controller usb,model=ich9-uhci2,address=0:0:8.0,index=0,master=2
--controller usb,model=ich9-uhci3,address=0:0:9.0,index=0,master=4
--redirdev usb,type=spicevmc
--redirdev usb,type=spicevmc
--accelerate
--network=bridge:{{ network.public.bridge }},model=rtl8139
--connect=qemu:///system
--noautoconsole
--hugepage
--security type=static,label='0:0'
