sudo virt-install
--name={vm_name}
--disk path={img_path},bus=ide,size={hdd_size},cache=none
--ram={ram}
--vcpus {cpus_qty}
--cdrom={{ dirs.vm_images }}/vm.iso
--graphics vnc,listen=0.0.0.0
--accelerate
--network=bridge:{{ network.bridge }},model=rtl8139
--connect=qemu:///system
--noautoconsole
--hugepage
--security type=static,label='0:0'
